body
	{
		background: #eee8aa;
	}
#menu-wrapper
   {
     background: #f0f8ff;
   }
   #menu li
   {
     display: inline-block;
   }
   #menu li a
   {
      display: inline-block;
      padding: 30px;
      text-decoration: none;
      font-size: 90%;
      font-weight: 600;
      text-transform: uppercase;
      outline: 0;
      color: #000;
    }
.thumbnail {
    margin:auto;
    position: relative;
    width: 1000px;
    height: 500px;

}
.caption{
   position: absolute;
    top: 0px;
    left: 490px;
    width: 500px;
    height: 100px;
}